<footer class="footer">
    <div class="news-letter-form">
      <div class="container">
        <div class="row">
          <div class="newsletter-wrap">
            <div class="col-xs-12">
              <div class="newsletter">
                <form>
                  <div>
                    <h4><span>Sign up to Newsletter</span></h4>
                    <input type="text" placeholder="Enter your email address" class="input-text" title="Sign up for our newsletter" id="newsletter1" name="email">
                    <button class="subscribe" title="Subscribe" type="submit"><span>Subscribe</span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--newsletter-->
    
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-column pull-left">
              <h4>Shopping Guide</h4>
              <ul class="links">
                <li><a href="blog.html" title="How to buy">Blog</a></li>
                <li><a href="faq.html" title="FAQs">FAQs</a></li>
                <li><a href="#" title="Payment">Payment</a></li>
                <li><a href="#" title="Shipment">Shipment</a></li>
                <li><a href="#" title="Where is my order?">Where is my order?</a></li>
                <li><a href="#" title="Return policy">Return policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-column pull-left">
              <h4>Style Advisor</h4>
              <ul class="links">
                <li><a href="login.html" title="Your Account">Your Account</a></li>
                <li><a href="#" title="Information">Information</a></li>
                <li><a href="#" title="Addresses">Addresses</a></li>
                <li><a href="#" title="Addresses">Discount</a></li>
                <li><a href="#" title="Orders History">Orders History</a></li>
                <li><a href="#" title="Order Tracking">Order Tracking</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-column pull-left">
              <h4>Information</h4>
              <ul class="links">
                <li><a href="sitemap.html" title="Site Map">Site Map</a></li>
                <li><a href="#" title="Search Terms">Search Terms</a></li>
                <li><a href="#" title="Advanced Search">Advanced Search</a></li>
                <li><a href="about_us.html" title="About Us">About Us</a></li>
                <li><a href="contact_us.html" title="Contact Us">Contact Us</a></li>
                <li><a href="#" title="Suppliers">Suppliers</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4>Contact Us</h4>
            <div class="contacts-info">
              <address>
              <i class="add-icon"></i>ThemesGround, 789 Main rd,<br>
              Anytown, CA 12345 USA<br>
              </address>
              <div class="phone-footer"><i class="phone-icon"></i>+ 888 456-7890</div>
              <div class="email-footer"><i class="email-icon"></i><a href="mailto:abc@example.com">citroen@themesground.com</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7 del-info"> We have our very own fleet of delivery vans. Your order will be packed with care at our warehouse and delivered right to your door by our friendly Citroen team.</div>
          <div class="col-xs-12 col-sm-5">
            <div class="payment-accept"> <img src="assets/images/payment-1.png" alt=""> <img src="assets/images/payment-2.png" alt=""> <img src="assets/images/payment-3.png" alt=""> <img src="assets/images/payment-4.png" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="social">
            <ul>
              <li class="fb"><a href="#"></a></li>
              <li class="tw"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="rss"><a href="#"></a></li>
              <li class="pintrest"><a href="#"></a></li>
              <li class="linkedin"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 coppyright"> &copy; 2021 themesground. all rights reserved. </div>
      </div>
    </div>
    <div class="other-links">
      <div class="container">
        <div class="row">
          <div class="category-block"> <strong><a href="#">Mobiles Accessories:</a></strong> <a href="#">Mobile Covers</a> / <a href="#">Leather Mobile Covers</a> / <a href="#">Printed Back Covers</a> / <a href="#">10000mAh Power Banks</a> / <a href="#">Ambrane Power Banks</a> / <a href="#">Intex Power Banks</a> / <a href="#">VR Headsets</a> / <a href="#">Smart Watches</a> / <a href="#">Smart Bands</a> / <a href="#">Fitness Bands</a> / <a href="#">Tempered Glass</a> / <a href="#">Wall Chargers</a> / <a href="#">Feature Phones</a> / <a href="#">Bluetooth Devices</a> </div>
          <div class="category-block"> <strong><a href="#">TVs, Audio & Video:</a></strong> <a href="#">Televisions</a> / <a href="#">LED TVs</a> / <a href="#">Smart Televisions</a> / <a href="#">Ultra HD TV</a> / <a href="#">FHD TV / 3D TV</a> / <a href="#">HD Ready TV</a> / <a href="#">Speakers</a> / <a href="#">Headphones</a> / <a href="#">Earphones</a> / <a href="#">Samsons Televisions</a> / <a href="#">Xicromax Televisions</a> / <a href="#">TG Televisions</a> / <a href="#">Home Theatre Systems</a> </div>
          <div class="category-block"> <strong><a href="#">Memory Cards:</a></strong> <a href="#">8 GB Memory Cards</a> / <a href="#">16 GB Memory Cards</a> / <a href="#">32 GB Memory Cards</a> / <a href="#">64 GB Memory Cards</a> / <a href="#">Tandisk Memory Cards</a> / <a href="#">Samsons Memory Cards</a> / <a href="#">Atrontium Memory Cards</a> </div>
          <div class="category-block"> <strong><a href="#">Computers:</a></strong> <a href="#">Aenovo Laptops</a> / <a href="#">Ncer Laptops</a> / <a href="#">Mpple Macbooks</a> / <a href="#">Notebook</a> / <a href="#">Laptops</a> / <a href="#">External Hard Disks</a> / <a href="#">Hell Laptops</a> / <a href="#">PP Laptops</a> / <a href="#">Pen Drives</a> </div>
          <div class="category-block"> <strong><a href="#">Camera:</a></strong> <a href="#">DSLR Cameras</a> / <a href="#">Sanon Cameras</a> /<a href="#"> Nicon Coolpix</a> / <a href="#">Nicon DSLR Cameras</a> / <a href="#">Mony Cameras</a> / <a href="#">Digital Cameras</a> / <a href="#">Sanasonic Cameras</a> / <a href="#">Samsons Cameras</a> </div>
          <div class="category-block"> <strong><a href="#">Watches:</a></strong> <a href="#">Mens Watches</a> / <a href="#">Womens Watches</a> / <a href="#">Nasio Watches</a> / <a href="#">Fitan Watches</a> / <a href="#">Mastrack Watches</a> / <a href="#">Cossil watches</a> / <a href="#">Nasio Edifice</a> </div>
          <div class="category-block"> <strong><a href="#">Appliances:</a></strong> <a href="#">Air Conditioners</a> / <a href="#">Air Coolers</a> / <a href="#">Refrigerators</a> / <a href="#">Fans</a> / <a href="#">Washing Machines</a> / <a href="#">Mircowaves</a> / <a href="#">Irons</a> / <a href="#">Trimmers</a> / <a href="#">Hair Dryers</a> / <a href="#">Shavers</a> / <a href="#">Vacuum Cleaners</a> / <a href="#">Air Purifiers</a> / <a href="#">CCTV Cameras</a> / <a href="#">Ceiling Fans</a> / <a href="#">Table Fans</a> / <a href="#">Exhaust Fans</a> / <a href="#">Pedestal Fans</a> / <a href="#">Ceiling Fans with 4 Blades</a> / <a href="#">Ceiling Fans with 6 Blades</a> </div>
        </div>
      </div>
    </div>
  </footer>