<div id="mobile-menu">
    <ul>
      <li>
        <div class="mm-search">
          <form id="search1" name="search">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
              </div>
              <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
            </div>
          </form>
        </div>
      </li>
      <li> <a href="index-2.html">Home</a>
        <ul>
          <li><a href="index-2.html">Home Version 1</a></li>
          <li><a href="https://themesground.com/citroen-demo/home2/index.html">Home Version 2</a></li>
        </ul>
      </li>
      <li> <a href="#">Pages</a>
        <ul>
          <li><a href="grid.html">Products Grid</a> </li>
          <li> <a href="list.html">Products List</a> </li>
          <li> <a href="product_detail.html">Product Detail</a> </li>
          <li> <a href="shopping_cart.html">Shopping Cart</a> </li>
          <li><a href="checkout.html">Checkout</a> </li>
          <li> <a href="wishlist.html">Wishlist</a> </li>
          <li> <a href="dashboard.html">Dashboard</a> </li>
          <li> <a href="multiple_addresses.html">Multiple Addresses</a> </li>
          <li> <a href="about_us.html">About us</a> </li>
          <li> <a href="blog.html">Blog</a>
            <ul>
              <li><a href="blog-detail.html">Blog Detail</a> </li>
            </ul>
          </li>
          <li><a href="contact_us.html">Contact us</a> </li>
          <li><a href="404error.html">404 Error Page</a> </li>
        </ul>
      </li>
      <li> <a href="#">Computers</a>
        <ul>
          <li> <a href="#" class="">Laptop</a>
            <ul>
              <li> <a href="grid.html"><span>Microsoft</span></a> </li>
              <li> <a href="grid.html"><span>Lenova</span></a> </li>
              <li> <a href="grid.html"><span>Apple</span></a> </li>
              <li> <a href="grid.html"><span>Touchscreen</span></a> </li>
            </ul>
          </li>
          <li> <a href="grid.html">Printers</a>
            <ul>
                                <li> <a href="grid.html">Scanners</a> </li>
                                <li> <a href="grid.html">3D Printers</a> </li>
                                <li> <a href="grid.html">Fax Machines</a> </li>
                                <li> <a href="grid.html">Connectors</a> </li>
            </ul>
          </li>
          <li> <a href="grid.html">Components</a>
            <ul>
                                <li> <a href="grid.html">Hard Drives</a> </li>
                                <li> <a href="grid.html">Motherboards</a> </li>
                                <li> <a href="grid.html">Graphic Cards </a> </li>
                                <li> <a href="grid.html">Processors</a> </li>
            </ul>
          </li>
          <li> <a href="grid.html">Accessories</a>
            <ul>
                                <li> <a href="grid.html">Keyboards </a> </li>
                                <li> <a href="grid.html">WebCams</a> </li>
                                <li> <a href="grid.html">Batteries</a> </li>
                                <li> <a href="grid.html">Speakers</a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li> <a href="grid.html">Appliances</a>
        <ul>
          <li> <a href="grid.html" class="">Kitchen</a>
            <ul class="level1">
                                <li> <a href="grid.html">Refrigerators</a> </li>
                                <li> <a href="grid.html">Dishwashers</a> </li>
                                <li> <a href="grid.html">Microwaves</a> </li>
                                <li> <a href="grid.html">Tosters</a> </li>
            </ul>
          </li>
          <li> <a href="grid.html">Cameras</a>
            <ul class="level1">
                                <li> <a href="grid.html"><span>Accessories</span></a> </li>
                                <li> <a href="grid.html"><span>Binoculars</span></a> </li>
                                <li> <a href="grid.html"><span>Telescopes</span></a> </li>
                                <li> <a href="grid.html"><span>Camcorders</span></a> </li>
            </ul>
          </li>
          <li> <a href="grid.html">Desktops</a>
            <ul class="level1">
                                <li> <a href="grid.html"><span>Routers &amp; Modems</span></a> </li>
                                <li> <a href="grid.html"><span>CPUs, Processors</span></a> </li>
                                <li> <a href="grid.html"><span>PC Gaming Store</span></a> </li>
                                <li> <a href="grid.html"><span>Components</span></a> </li>
            </ul>
          </li>
          <li> <a href="#.html">Mobile Phones</a>
            <ul class="level1">
                                <li> <a href="grid.html"><span>Apple</span></a> </li>
                                <li> <a href="grid.html"><span>Samsung</span></a> </li>
                                <li> <a href="grid.html"><span>Motorola</span></a> </li>
                                <li> <a href="grid.html"><span>Lenovo</span></a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li> <a href="grid.html"> Televisions </a></li>
      <li> <a href="grid.html"> Cameras</a></li>
      <li><a href="grid.html"> Mobiles, Tablets</a> </li>
      <li><a href="grid.html"> Refrigerators</a> </li>
      <li><a href="grid.html"> Watches</a> </li>
    </ul>
    <div class="top-links">
      <ul class="links">
        <li><a title="My Account" href="login.html">My Account</a> </li>
        <li><a title="Wishlist" href="wishlist.html">Wishlist</a> </li>
        <li><a title="Checkout" href="checkout.html">Checkout</a> </li>
        <li><a title="Blog" href="blog.html"><span>Blog</span></a> </li>
        <li class="last"><a title="Login" href="login.html"><span>Login</span></a> </li>
      </ul>
    </div>
  </div>